p{
	color:yellow;
}

body{
	background-image: url('meditate10.jpg');
	
}

#content1{
	width:30%;
	float: left;
	font-size: 15pt;
	padding-bottom: 50%; 
	font-family: 'Mrs Sheppards', cursive;

}


#content2{
	width:30%;
	float: left;
	font-size: 25pt;
	padding:50px;
	font-family: 'Mrs Sheppards', cursive;
}

#content3{
	width:30%;
	float:left;
	font-size: 25pt;
	font-family: 'Mrs Sheppards', cursive;
}

